<h1>Editing Evento</h1>

<%= render 'form', evento: @evento %>


<div class="row">
    <div class="col s12 center">
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, :back, class: 'btn-floating btn-large cyan pulse' %>
	</div>
</div>
