<h1>New Evento</h1>

<% if ! with_evento? %>
	<%= render 'form', evento: @evento %>
<% end %>

<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, :back ,class: 'btn-floating btn-large cyan pulse'%>
