<h1>New Evento</h1>

<% if with_evento? %>
	<%= render 'form', evento: @evento %>
<% else %>
	<h1>Es solo un evento por usuario</h1>
	<td><%= link_to 'Edit', edit_evento_path(current_user.evento) %></td>
<% end %>

<%= link_to 'Back', eventos_path %>
